button {
    background-color: lightblue;
    box-shadow: none;
    color: #333333;
    border-radius: 5px;
    padding: 5px;
}

.book {
    background-color: darkblue;
    color: white;
    border: black 2px solid;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 5px 10px;
    font-size: large;
    width: 200px;

}

#bookcase {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

form {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkslategrey;
    border-radius: 15px;
    padding: 15px;
}

form>* {
    max-width: 35%;
    margin: 5px;
}

.hide {
    display: none;
}

#remove-button {
    background-color: aliceblue;
}

#changeReadStatus,
#deleteTheBook {
    background-color: aliceblue;
    padding: 5px 10px;
    color: bluex;
    margin: 5px;

}

#changeReadStatus:hover,
#deleteTheBook:hover {
    padding: 8px 13px;
    margin: 2px;
}